.content-list {
  width: 100%;
  max-width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.edit-btn,
.delete-btn {
  color: rgb(59, 56, 56);
  font-family: "Itim";
  background-color: rgb(255, 230, 236);
}


.edit-btn:hover,
.delete-btn:hover {
  background-color: #ffaac4 !important;
  color: white;
}

.custom-title a {
  color: rgb(70, 69, 69) !important;
  font-size: 1.4rem;
  font-family: "Klee One";
  font-weight: 95;
}
