.add-btn,
.list-btn {
  font-family: "Klee One";
  font-size: 1rem;
  font-weight: 100 !important;
  background-color: #ffe1ec;
}

.add-btn:hover,
.list-btn:hover {
  color: #363636 !important;
  border: #ffc1d8 !important;
  background-color: #fed3ff !important;
}

.home-btns-wr {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.chart-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chart-text {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 50px;
  font-family: "Klee One";
  color: #484848;
  margin-bottom: 1px;
  font-weight: 200;
}
